[submodule "server"]
	path = server
	url = git@github.com:M4jor-Tom/stargem_backend.rs.git
[submodule "client"]
	path = client
	url = git@github.com:M4jor-Tom/stargem_frontend.cpp.git
[submodule ".opencode/rules"]
	path = .opencode/rules
	url = git@github.com:M4jor-Tom/rules.md.git
[submodule "star_conflict"]
	path = star_conflict
	url = git@github.com:M4jor-Tom/star_conflict_footages.webm.git
