[submodule "ai-dev-tasks"]
	path = ai-dev-tasks
	url = git@github.com:snarktank/ai-dev-tasks.git
[submodule "server"]
	path = server
	url = git@github.com:M4jor-Tom/stargem_backend.rs.git
[submodule "client"]
	path = client
	url = git@github.com:M4jor-Tom/stargem_frontend.cpp.git
[submodule "stargem_protos"]
	path = stargem_protos
	url = git@github.com:M4jor-Tom/stargem_protos.git
