[submodule "star_conflict_webm"]
	path = docs/footages/star_conflict
  url = git@github.com:M4jor-Tom/star_conflict_footages.webm.git
[submodule "star_conflict_ships_gltf"]
  path = docs/3D/star_conflict_ships.gltf
  url = git@github.com:M4jor-Tom/star_conflict_ships.gltf.git
